<h2>Customers</h2>
<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col" class="text-left">Notes</th>
        <th scope="col" class="text-center">Name</th>
        <th scope="col" class="text-center">Website</th>
        <th scope="col" class="text-center">City</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let customer of customers" class="router">
        <td class="col-md-1">
          <button class="btn btn-primary" title="View notes" (click)="showNotes(customer)">
            <span class="glyphicon glyphicon-circle-arrow-right"></span>
          </button>
        </td>
        <th scope="row" class="col-md-5 text-center" routerLink="/customers/{{customer.id}}">{{customer.name}}</th>
        <td class="col-md-3 text-center">
          <a href="{{customer.webSite}}">{{customer.webSite}}</a>
        </td>
        <td class="col-md-3 text-center" routerLink="/customers/{{customer.id}}">{{customer.city.name}}</td>
      </tr>

    </tbody>
  </table>
</div>
