<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

<!-- INIZIO MODAL -->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Contacts</h4>
      </div>
      <div class="modal-body">
<!-- INIZIO CARD CONTATTI -->
        <div class="container" *ngFor="let contact of customer.contacts">
          <div class="col-sm-5 col-md-4 col-lg-3 mt-4">
            <div class="card card-inverse card-info">

              <div class="card-block">
                <h4 class="card-title">{{contact.surname}} {{contact.name}}</h4>
                <div class="card-text">
                  Birth date: {{contact.birthdate}}
                  <br> Role: {{contact.role}}
                </div>
              </div>

              <div class="card-footer">
                <button class="btn btn-info float-right btn-sm" (click)="updateContact()">Update</button>
              </div>

            </div>
          </div>
        </div>
<!-- INIZIO CARD VUOTA PER INSERIMENTO -->
        <div class="container">
            <div class="col-sm-5 col-md-4 col-lg-3 mt-4">
              <div class="card card-inverse card-info">

                <div class="card-block">
                  <div class="card-text">
                    <label>
                        Name:
                        <br>
                        <input #customerName>
                        <br>
                        Surname:
                        <br>
                        <input #customerSurname>
                        <br>
                        Birth date:
                        <br>
                        <input #customerBirthdate>
                        <br>
                        Role:
                        <br>
                        <input #customerRole>
                    </label>
                  </div>
                </div>

                <div class="card-footer">
                  <button class="btn btn-info float-right btn-sm" (click)="saveContact()">Save</button>
                </div>

              </div>
            </div>
          </div>

      </div>
    </div>
  </div>

</div>
