<div class="container" *ngIf="customer">





  <div class="col-md-6 col-md-offset-3">
      <h2>{{customer.name | uppercase}} Details</h2>
    <div class="well">
      <form class="form-horizontal">
        <div class="form-group">
          <label class="col-sm-3 control-label">ID:</label>
          <div class="col-sm-9">
            <p class="form-control-static">{{customer.id}}</p>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">City:</label>
          <div class="col-sm-9">
            <p class="form-control-static">{{customer.city.name}}</p>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">Notes:</label>
          <div class="col-sm-9">
            <p class="form-control-static">{{customer.note}}</p>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">Website:</label>
          <div class="col-sm-9">
            <p class="form-control-static">
              <a href="{{customer.webSite}}">{{customer.webSite}}</a>
            </p>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">Taxcode:</label>
          <div class="col-sm-9">
            <p class="form-control-static">{{customer.taxCode}}</p>
          </div>
        </div>
      </form>
    </div>
    <div class="row">
      <div class="col-md-4 text-left">
          <button type="button" class="btn btn-default btn-md" (click)="contacts.showModal()">
          <span class="glyphicon glyphicon-user"></span> Contacts </button>
          <app-contacts #contacts></app-contacts>
      </div>
      <div class="col-md-4 text-center">
          <button type="button" class="btn btn-default btn-md" routerLink="/customers/{{customer.id}}/products">
          <span class="glyphicon glyphicon-th-list"></span> Products </button>
      </div>
      <div class="col-md-4 text-right">
          <button type="button" class="btn btn-info btn-md" (click)="goBack()">
          <span class="glyphicon glyphicon-home"></span> Back</button>
      </div>
    </div>
  </div>

  <!-- INIZIO PULSANTE PER APERTURA MODAL -->


</div>

