<div class="col-sm-5 col-md-4 col-lg-3 mt-4">
    <div class="card card-inverse card-info">

      <div class="card-block">
        <h4 class="card-title">{{contact.surname}} {{contact.name}}</h4>
        <div class="card-text">
          Birth date: {{contact.birthdate}}
          <br> Role: {{contact.role}}
        </div>
      </div>

      <div class="card-footer">
        <button class="btn btn-info float-right btn-sm" (click)="updateContact()">Update</button>
      </div>

    </div>
  </div>
